.work{
height: 1626px;
width: 1280px;
margin:0;
}
.menu{
text-align: center;
}
.menu-list{
margin: 0;
padding: 0;
}
.menu-item{ 
height: 27px;
font-family: "Montserrat", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
display: inline-block;
margin-right: 72px;
margin-top:25.5px;
margin-bottom: 25.5px;
}
.menu-item:last-child{
margin-right:0px;
margin-left: -22px;
}
.menu-link{
color:#ff0000;
text-decoration:none;
}
.picture{
object-fit: contain;
height: 789px;
width: 1280px;
}
.title{
width: 774px;
text-align: left;  
height: 29px;
text-transform: uppercase;
font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 27px;
letter-spacing: 3.3px;
color: rgba(55, 55, 55, 1);
margin-top:48px;
margin-left: 253px;
margin-bottom: 38px;
}
.text{
text-align: center;
max-width: 1145px;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 2.4px;
padding-left: 67.5px;
padding-right: 67.5px;
color: rgba(55, 55, 55, 1);
}
.lorem{
height: 132px;
margin:0;
text-indent: 1.5em;
padding-bottom:28px;
}
.vestibulum{
height: 216px;
margin:0;
}
.started{
cursor: pointer;
text-transform: uppercase;
background-color: #ff0000; 
border: none;
color: white;
height: 51px;
width: 191px;
border-radius: 4px;
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
line-height: 12px;
letter-spacing: 1.8px;
padding: 0;
margin-top: 66px;
margin-left: 544.5px;
margin-bottom: 42px;
 }
.rights{ 
height: 39px;
width: 462px;
font-family: Montserrat, sans-serif;
font-size: 15.9px;
font-weight: 700;
line-height: 20px;
letter-spacing: 2.4px;
text-align: left;
margin: 40px 105px 29px 713px;
}